<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>어디갈까?</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/subpage.css" rel="stylesheet">

    <!-- 웹폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- 공통 상단 부분-->
    <header id="menu">
        <div id="menu-wrap">
            <div id="menu-logo">
                <a href="index.html">어디갈까?</a>
            </div>
            <div id="quick">
                <ul>
                    <li><a href="#" onclick="alert('준비 중입니다.')">국내여행</a></li>
                    <li><a href="#" onclick="alert('준비 중입니다.')">해외여행</a></li>
                </ul>
            </div>
            <div id="member">
                <ul>
                    <li><a href="signup.html">회원가입</a></li>
                    <li><a href="login.html">로그인</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- 내용 부분 -->
    <article id="subpage">
        <div id="subpage-wrap">
            <h1 id="title">제주 함덕해수욕장</h1>
            <img src="img/600_400/jeju.jpg" width=600>
            <p id="content">
                제주도 조천의 함덕해수욕장은 작고 아담한 해수욕장입니다.<br><br>
                해변 주변에 예쁜 바다 산책로가 조성되어 있고 해변 뒤에 콘도, 호텔, 카페, 식당 등 편의시설들이 아주 많아서 사계절 모두 사람들이 많이 찾는 곳입니다.<br><br>
                함덕해수욕장은 제주시내에서도 비교적 가까워서 제주시내에 숙소를 잡은 여행자들이 쉽게 찾아갈 수 있는 곳입니다.
            </p>
        </div>
    </article>

    <!-- 공통 하단 부분 -->
    <footer id=bottom>
        <div id="bottom-wrap">
            <div id="bottom-logo">
                어디갈까?
            </div>
            <span>
                KDT-VENTURE FRONT-END MINI PROJECT
            </span>
            <span>
                7조 박병권 신미래 이강산 장재민
            </span>
        </div>
    </footer>
</body>

</html>