<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>어디갈까?</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/subpage.css" rel="stylesheet">

    <!-- 웹폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- 공통 상단 부분-->
    <header id="menu">
        <div id="menu-wrap">
            <div id="menu-logo">
                <a href="index.html">어디갈까?</a>
            </div>
            <div id="quick">
                <ul>
                    <li><a href="#" onclick="alert('준비 중입니다.')">국내여행</a></li>
                    <li><a href="#" onclick="alert('준비 중입니다.')">해외여행</a></li>
                </ul>
            </div>
            <div id="member">
                <ul>
                    <li><a href="signup.html">회원가입</a></li>
                    <li><a href="login.html">로그인</a></li>
                </ul>
            </div>
        </div>
    </header>

    <article id="subpage">
        <div id="subpage-wrap">
            <h1 id="title">아름다운 풍경과 함께, 거제도</h1>
            <img src="img/600_400/geoje.jpg" width=600>
            <p id="content">
                거제도(巨濟島)는 경상남도 거제시의 본섬으로, 제주도에 이어 대한민국에서 2번째로 큰 섬이다. 면적은 379.23 km²이다.<br><br>
                북동쪽으로 부산 가덕도와 거가대교로 연결되어 있으며, 서쪽으로는 통영시와 신거제대교로 연결되어 있다.<br><br>
                북쪽 해안은 진해만(鎭海灣)과 접한다. 높은 산이 많으며 경사가 급한 편이다.조선업과 어업이 발달하였다.
            </p>
        </div>
    </article>

    <!-- 공통 하단 부분 -->
    <footer id=bottom>
        <div id="bottom-wrap">
            <div id="bottom-logo">
                어디갈까?
            </div>
            <span>
                KDT-VENTURE FRONT-END MINI PROJECT
            </span>
            <span>
                7조 박병권 신미래 이강산 장재민
            </span>
        </div>
    </footer>
</body>

</html>