<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>어디갈까?</title>
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/subpage.css" rel="stylesheet">

    <!-- 웹폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- 공통 상단 부분-->
    <header id="menu">
        <div id="menu-wrap">
            <div id="menu-logo">
                <a href="index.html">어디갈까?</a>
            </div>
            <div id="quick">
                <ul>
                    <li><a href="#" onclick="alert('준비 중입니다.')">국내여행</a></li>
                    <li><a href="#" onclick="alert('준비 중입니다.')">해외여행</a></li>
                </ul>
            </div>
            <div id="member">
                <ul>
                    <li><a href="signup.html">회원가입</a></li>
                    <li><a href="login.html">로그인</a></li>
                </ul>
            </div>
        </div>
    </header>

    <article id="subpage">
        <div id="subpage-wrap">
            <h1 id="title">예술 감성 물씬 감천 문화마을</h1>
            <img src="img/600_400/busan2.jpg" width=600>
            <p id="content">
                부산광역시 사하구 감천동에 있는 마을이자 부산 원도심의 대표적인 랜드마크이다. 산복도로 르네상스 사업을 통하여 도시재생 프로젝트로 큰 성과를 거둔 성공적인 사례라 할
                수 있다.<br><br>
                한국의 마추픽추 혹은 산토리니라는 별명이 있다. 다만 그리스 산토리니처럼 해안가에 붙어 있지 않으며, 풍경 또한 산토리니와 유사하지도 않다.<br><br>
                가장 가까운 바닷가인 감천항중앙부두에서 마을 입구에 해당하는 감천2동주민센터까지 약 1km 떨어졌고 설상가상으로 감천항이 만(湾) 형태라 탁 트인 곳도 아니다.<br><br>
                2019년 기준으론 해안절벽 앞의 마을인 영도구의 흰여울문화마을을 산토리니로 비유하는 경우가 점점 많아졌다.<br><br>
                한국관광공사 선정, 2019, 2020 한국 관광 100선에 선정되었다.
            </p>
        </div>
    </article>

    <!-- 공통 하단 부분 -->
    <footer id=bottom>
        <div id="bottom-wrap">
            <div id="bottom-logo">
                어디갈까?
            </div>
            <span>
                KDT-VENTURE FRONT-END MINI PROJECT
            </span>
            <span>
                7조 박병권 신미래 이강산 장재민
            </span>
        </div>
    </footer>
</body>

</html>