@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    overflow-y: overlay;
}

/* 공통 상단 부분 */
#top {
    height: 50px;
    width: 800px;
    margin: 0 auto;
}

#top>a {
    text-decoration: none;
    color: black;
}

#main {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 200%;
}

.sign {
    float: right;
    text-align: right;
}

/* 본문 */

.hr-article {
    border: none;
    height: 50px;
}

#banner {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}

#banner-list {
    list-style: none;
}

.banner-item {
    float: left;
    margin: 0px;
}

#today {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

#today-wrap span {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 1.8em;
    font-weight: bold;
}

#today-wrap ul {
    list-style: none;
}

#today-wrap ul li {
    float: left;
    width: 260px;
    height: 260px;
    margin-right: 10px;
}

#today-wrap ul li:nth-child(3n) {
    margin-right: 0px;
}

#today-wrap ul li a {
    text-decoration: none;
    color: #444444;
}

.today-image {
    width: 260px;
    height: 200px;
}

.today-content {
    height: 50px;
}

.today-content p {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.today-content p:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.today-content p:last-child {
    color: #999999;
}

/* 공통 하단 부분 */
#bottom {
    background-color: #e9e9e9;
    border: 3px solid #e9e9e9;
    width: 800px;
    height: 80px;
    margin: 0 auto;
}

#bottom>p {
    font-size: 40%;
    text-align: center;
}