@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    overflow-y: overlay;
}

/* 공통 상단 부분 */
body {
    padding-top: 51px;
}

#menu {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    background: white;
    border-bottom: 1px solid #eeeeee;
    z-index: 999;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu ul {
    list-style: none;
}

#menu-wrap {
    width: 800px;
    margin: 0 auto;
}

#logo {
    float: left;
    height: 50px;
    text-align: left;
    line-height: 55px;
    margin-right: 50px;
}

#logo a {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 200%;
}

#quick {
    float: left;
}

#quick li {
    float: left;
    width: 100px;
    height: 50px;
    text-align: left;
    line-height: 50px;
}

#quick a {
    font-weight: bold;
    font-size: 100%;
}

#member {
    float: right;
}

#member li {
    float: right;
    width: 80px;
    height: 50px;
    text-align: right;
    line-height: 50px;
}

#member a {
    font-weight: lighter;
    font-size: 90%;
}

/* 공통 하단 부분 */
#bottom {
    background-color: #e9e9e9;
    border: 3px solid #e9e9e9;
    width: 800px;
    height: 80px;
    margin: 0 auto;
}

#bottom>p {
    font-size: 40%;
    text-align: center;
}