@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    overflow-y: overlay;
}

/* 중간 내용 부분 */
div {
	text-align: center;
}


img {
	padding: 20px;
	margin: 0 auto;
}

p {
	text-align: center;
}

#title {
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 150%;
	margin: 20px;
}